body{
    display: flex;
    align-self: center;
    justify-content: center;
    min-width: 100vh;
    background-color: #29abe2;
    margin: 0;
}

.qr-contairner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.qr-image{
    width: 300px; /*ajusta este valor segun el tamaño deseado */
    height: auto; /*mantiene la proporcion */
}

p{
    margin-top: 10px;
}